# Python
__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints


# Environnements virtuels
venv/
env/
ENV/
.venv/
.virtualenv/

# Configuration d'environnement
.env
.env.local
.env.*.local
.vscode/







# Output and logs
output/
logs/
*.log
*.out

#
